<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czyl.project.integrate.mapper.SysAppregMapper">
    
    <resultMap type="SysAppreg" id="SysAppregResult">
        <result property="appregId"    column="appreg_id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="ssologinurl"    column="ssologinurl"    />
        <result property="ssoregurl"    column="ssoregurl"    />
        <result property="itfurl"    column="itfurl"    />
        <result property="account"    column="account"    />
        <result property="password"    column="password"    />
        <result property="status"    column="status"    />
        <result property="def1"    column="def1"    />
        <result property="def2"    column="def2"    />
        <result property="def3"    column="def3"    />
        <result property="def4"    column="def4"    />
        <result property="def5"    column="def5"    />
        <result property="version"    column="version"    />
        <result property="dr"    column="dr"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createByName"    column="createByName"    />
        <result property="updateByName"    column="updateByName"    />
    </resultMap>

    <sql id="selectSysAppregVo">
        select uc.nick_name createByName, uu.nick_name updateByName, sys_appreg.version,sys_appreg.appreg_id, sys_appreg.code, sys_appreg.name, sys_appreg.ssologinurl, sys_appreg.ssoregurl, sys_appreg.itfurl, sys_appreg.account, sys_appreg.password, sys_appreg.status, sys_appreg.def1, sys_appreg.def2, sys_appreg.def3, sys_appreg.def4, sys_appreg.def5, sys_appreg.dr, sys_appreg.create_by, sys_appreg.create_time, sys_appreg.update_by, sys_appreg.update_time from sys_appreg
        left join sys_user uc on uc.user_id=sys_appreg.create_by
        left join sys_user uu on uu.user_id=sys_appreg.update_by
    </sql>

    <select id="selectList" parameterType="SysAppreg" resultMap="SysAppregResult">
        <include refid="selectSysAppregVo"/>
        <where>
            sys_appreg.dr = 0
            <if test="code != null  and code != ''"> and sys_appreg.code = #{code}</if>
            <if test="name != null  and name != ''"> and sys_appreg.name like concat('%', #{name}, '%')</if>
            <if test="status != null "> and sys_appreg.status = #{status}</if>
        </where>
    </select>
    
    <select id="selectById" parameterType="Long" resultMap="SysAppregResult">
        <include refid="selectSysAppregVo"/>
        where sys_appreg.appreg_id = #{appregId}
    </select>
    
    <select id="selectByCode" parameterType="String" resultMap="SysAppregResult">
        select sys_appreg.version,sys_appreg.appreg_id, sys_appreg.code, sys_appreg.name, sys_appreg.ssologinurl, sys_appreg.ssoregurl, sys_appreg.itfurl, sys_appreg.account, sys_appreg.password, sys_appreg.status, sys_appreg.def1, sys_appreg.def2, sys_appreg.def3, sys_appreg.def4, sys_appreg.def5, sys_appreg.dr, sys_appreg.create_by, sys_appreg.create_time, sys_appreg.update_by, sys_appreg.update_time from sys_appreg
        where sys_appreg.dr = 0 and sys_appreg.code = #{code} 
    </select>
        
    <insert id="insert" parameterType="SysAppreg">
        insert into sys_appreg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appregId != null ">appreg_id,</if>
            <if test="code != null  and code != ''">code,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="ssologinurl != null  and ssologinurl != ''">ssologinurl,</if>
            <if test="ssoregurl != null  and ssoregurl != ''">ssoregurl,</if>
            <if test="itfurl != null  and itfurl != ''">itfurl,</if>
            <if test="account != null  and account != ''">account,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="status != null ">status,</if>
            <if test="def1 != null  and def1 != ''">def1,</if>
            <if test="def2 != null  and def2 != ''">def2,</if>
            <if test="def3 != null  and def3 != ''">def3,</if>
            <if test="def4 != null  and def4 != ''">def4,</if>
            <if test="def5 != null  and def5 != ''">def5,</if>
            <if test="version != null ">version,</if>
            <if test="dr != null ">dr,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appregId != null ">#{appregId},</if>
            <if test="code != null  and code != ''">#{code},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="ssologinurl != null  and ssologinurl != ''">#{ssologinurl},</if>
            <if test="ssoregurl != null  and ssoregurl != ''">#{ssoregurl},</if>
            <if test="itfurl != null  and itfurl != ''">#{itfurl},</if>
            <if test="account != null  and account != ''">#{account},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="status != null ">#{status},</if>
            <if test="def1 != null  and def1 != ''">#{def1},</if>
            <if test="def2 != null  and def2 != ''">#{def2},</if>
            <if test="def3 != null  and def3 != ''">#{def3},</if>
            <if test="def4 != null  and def4 != ''">#{def4},</if>
            <if test="def5 != null  and def5 != ''">#{def5},</if>
            <if test="version != null ">#{version},</if>
            <if test="dr != null ">#{dr},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="update" parameterType="SysAppreg">
        update sys_appreg
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="ssologinurl != null  ">ssologinurl = #{ssologinurl},</if>
            <if test="ssoregurl != null  ">ssoregurl = #{ssoregurl},</if>
            <if test="itfurl != null  ">itfurl = #{itfurl},</if>
            <if test="account != null ">account = #{account},</if>
            <if test="password != null ">password = #{password},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="def1 != null  ">def1 = #{def1},</if>
            <if test="def2 != null  ">def2 = #{def2},</if>
            <if test="def3 != null  ">def3 = #{def3},</if>
            <if test="def4 != null  ">def4 = #{def4},</if>
            <if test="def5 != null  ">def5 = #{def5},</if>
            <if test="version != null ">version = #{version},</if>
            <if test="dr != null ">dr = #{dr},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where appreg_id = #{appregId}
    </update>

    <delete id="deleteById" parameterType="Long">
      update sys_appreg set dr = 1 
      where appreg_id = #{appregId}
    </delete>

    <delete id="deleteByIds" parameterType="String">
      update sys_appreg set dr = 1 
      where appreg_id in 
        <foreach item="appregId" collection="array" open="(" separator="," close=")">
            #{appregId}
        </foreach>
    </delete>
    
</mapper>