-- 菜单 SQL
insert into sys_menu (menu_id,menu_name, parent_id, order_num, path, component, is_frame, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(${menuIdPid},'${functionName}', '2', '1', '${businessName}', '${moduleName}/${businessName}/index', 1, 'C', '0', '${permissionPrefix}:list', '#', '1', '${datetime}', '1', '${datetime}', '${functionName}菜单');

-- 按钮父菜单ID
SELECT @parentId := ${menuIdPid};

-- 按钮 SQL
insert into sys_menu  (menu_id,menu_name, parent_id, order_num, path, component, is_frame, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(${menuId1},'${functionName}查询', @parentId, '1',  '#', '', 1,  'F', '0', '${permissionPrefix}:query',         '#', '1', '${datetime}', '1', '${datetime}', '');

insert into sys_menu  (menu_id,menu_name, parent_id, order_num, path, component, is_frame, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(${menuId2},'${functionName}新增', @parentId, '2',  '#', '', 1,  'F', '0', '${permissionPrefix}:add',          '#', '1', '${datetime}', '1', '${datetime}', '');

insert into sys_menu  (menu_id,menu_name, parent_id, order_num, path, component, is_frame, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(${menuId3},'${functionName}修改', @parentId, '3',  '#', '', 1,  'F', '0', '${permissionPrefix}:edit',         '#', '1', '${datetime}', '1', '${datetime}', '');

insert into sys_menu  (menu_id,menu_name, parent_id, order_num, path, component, is_frame, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(${menuId4},'${functionName}删除', @parentId, '4',  '#', '', 1,  'F', '0', '${permissionPrefix}:remove',       '#', '1', '${datetime}', '1', '${datetime}', '');

insert into sys_menu  (menu_id,menu_name, parent_id, order_num, path, component, is_frame, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(${menuId5},'${functionName}导出', @parentId, '5',  '#', '', 1,  'F', '0', '${permissionPrefix}:export',       '#', '1', '${datetime}', '1', '${datetime}', '');