package ${packageName}.domain;

import java.util.List;
import com.czyl.framework.aspectj.lang.annotation.Excel;
import com.czyl.framework.web.domain.BaseEntity;
#foreach ($import in $importList)
import ${import};
#end
import lombok.Getter;
import lombok.Setter;
import com.czyl.common.annotation.table.Id;
import com.czyl.common.annotation.table.Table;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.alibaba.fastjson.annotation.JSONField;
import com.fasterxml.jackson.annotation.JsonIgnore;

/**
 * ${functionName}对象 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Setter
@Getter
@Table("${tableName}")
#set($Entity="BaseEntity")
public class ${ClassName} extends ${Entity}{
    private static final long serialVersionUID = 1L;
    Long[] delIds;
#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($parentheseIndex != -1)
    @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
#elseif($column.javaType == 'Date')
    @Excel(name = "${comment}", width = 30, dateFormat = "yyyy-MM-dd")
#else
    @Excel(name = "${comment}")
#end
#end
#if($column.columnName == $pkColumn.columnName)
    @Id("${pkColumn.columnName}")
    @JsonFormat(shape = JsonFormat.Shape.STRING)
#elseif($column.javaType != 'Date' && $column.javaType != 'String')
    @JsonFormat(shape = JsonFormat.Shape.STRING)
#end
    private $column.javaType $column.javaField;

#end
#end

    //多选查询
#foreach ($column in $columns)
#if($column.isRefField())
    /** ${column.columnComment} */
    @JsonIgnore
    @JSONField(serialize = false)
    private List<${column.javaType}> ${column.javaField}s;
#end
#end
   
}
